* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.icon {
  width: 30px;
  height: 30px;
  border-radius: 1000px;
  margin-left: 9px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(49, 45, 45);
}
nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: aliceblue;
  padding: 5px 15px;
  border-radius: 4000px;
  display: flex;
  justify-content: space-around;
}
.word-border {
  background-color: rgb(12, 12, 143);
  color: aliceblue;
  padding: 5px 15px;
  border-radius: 5px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 80px;
}
.picture {
  border: 1px solid purple;
  background-color: purple;
  width: 40%;
  height: 422px;
}
.text-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
  line-height: 20px;
  width: 51%;
}
.text-div h2 {
  font-size: 60px;
  line-height: 1.1;
}
.text-div p {
  font-size: 25px;
  line-height: 1.2;
  color: rgb(99, 94, 94);
}
.github-button-red {
  background-color: rgb(247, 33, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  padding: 10px 60px;
  border-radius: 4000px;
  display: flex;
  justify-content: space-around;
}

.text-content h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  letter-spacing: 3px;
}
.flex-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  margin: 0 auto;
  gap: 30px;
}
.flex-parent span {
  border: 1px solid rgb(91, 201, 19);
  background-color: rgb(91, 201, 19);
  width: 90px;
  height: 50px;
  display: inline-block;
}
.flex-parent div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 80%;
}
.flex-parent h4 {
  font-size: 25px;
  letter-spacing: 1px;
}

.flex-parent p {
  font-size: 17px;
  color: rgb(116, 112, 112);
}
.background-div {
  border: 1px solid rgb(83, 83, 212);
  background-color: rgb(83, 83, 212);
  width: 90%;
  height: 300px;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.background-div h5 {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  letter-spacing: 2px;
  font-weight: bold;
}

.card {
  width: 28%;
  height: 400px;
  border: 1px solid rgb(141, 137, 137);
}

.picture-box {
  border: 1px solid rgb(144, 144, 160);
  background-color: rgb(109, 109, 126);
  width: 100%;
  height: 230px;
}

/*.card h3 {
  font-weight: bold;
  font-size: 20px;
  padding: 40px;
  margin-left: 40px;
  display: inline-block;
}*/
.distance {
  margin-top: 200px;
}

.background-text-div {
  border: 1px solid rgb(83, 83, 212);
  background-color: rgb(83, 83, 212);
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.slack-content img {
  width: 50px;
  height: 50px;
}
.slack-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  letter-spacing: 3px;
  color: aliceblue;
  font-weight: bold;
  gap: 10px;
}
.slack-community {
  color: aliceblue;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-transform: uppercase;
}
.frontend-info {
  color: aliceblue;
  font-size: 27px;
  width: 89%;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1.05px;
  padding-top: 20px;
}
.input-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.input-box {
  width: 400px;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: rgb(83, 83, 212);
}
.input-box:hover {
  width: 500px;
  border-radius: 15px;
  background-color: black;
  color: aliceblue;
}
.request-button {
  text-transform: uppercase;
  padding: 15px 20px;
  background-color: aliceblue;
  border-radius: 40px;
  color: rgb(83, 83, 212);
  cursor: pointer;
}
.request-button:hover {
  padding: 20px 30px;
  background-color: rgb(32, 171, 226);
  color: aliceblue;
}
.newsletter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}
.newsletter-card {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.newsletter-card h4 {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.newsletter-text {
  font-weight: 3px;
  font-size: 28px;
  letter-spacing: 1.3px;
  word-spacing: 1.3px;
}
.checkbox label {
  padding-left: 10px;
  letter-spacing: 1.3px;
  font-size: 18px;
  color: rgb(94, 92, 92);
}
.icon-comp {
  width: 400px;
  height: 300px;
}
.input-whitebutton-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.input-white-box {
  width: 400px;
  padding: 12px 20px;
  border-radius: 4px;
}
.request-redbutton {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.3px;
  padding: 15px 20px;
  background-color: rgb(233, 12, 12);
  border-radius: 50px;
  color: aliceblue;
  text-transform: uppercase;
  cursor: pointer;
}
.request-redbutton:hover {
  font-size: 18px;
  padding: 20px 25px;
  background-color: rgb(198, 151, 241);
}
.border-section {
  border-top: 1px solid rgb(49, 45, 45);
  border-bottom: 1px solid rgb(49, 45, 45);
  width: 100%;
  height: 350px;
  margin-top: 100px;
}

.border-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  width: 86%;
  margin: 0 auto;
  gap: 80px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  margin-left: 213px;
  padding-bottom: 120px;
  gap: 20px;
}
.twitter {
  background-color: aqua;
  width: 60px;
  height: 60px;
  border-radius: 40px;
}

.frontend-mentor {
  width: 36%;
  margin-bottom: 90px;
}
.text-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 20px;
}
.grey {
  color: rgb(97, 95, 95);
}
.front-txt {
  font-size: 16px;
}
.link-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.link-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
a {
  display: inline-block;
  display: flex;
  flex-direction: column;
}
.link-tags {
  text-decoration: underline;
}
.movetolink {
  line-height: 30px;
  text-decoration-color: red;
  cursor: pointer;
}
.link-tags:hover {
  text-decoration: none;
}
.twitter:hover {
  background-color: black;
  width: 70px;
  height: 70px;
  border-radius: 60px;
}
.footer-background {
  border-top: 1px solid rgb(207, 202, 202);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin: 0 auto;
  padding-top: 30px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.lightgrey {
  color: rgb(165, 161, 161);
}
.underline:hover {
  text-decoration: underline;
}
